<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>

<connectionStrings>
  <add name="default" connectionString="Password=soufun;User ID=sa;Initial Catalog=StockBanker;Data Source=localhost" providerName="System.Data.SqlClient"/>
</connectionStrings>
<appSettings>
  
</appSettings>
</configuration>
